body { background: #000000; font-family: Verdana; font-size: 14px; color: #FFFFFF; background: url(../image/background.png) fixed; }
input { font-size: 12px; border: 1px solid #FFFFFF; padding: 2px; }
input[name=commit],input[name=logout] { background: #1E365C; color: #FFFFFF; }
a, a:active, a:visited { text-decoration: none; color: #FFFFFF; }
a:hover { text-decoration: underline; color: #88888; }

ul.caption li { font-weight: bold; width: 20%; background: #242F3C; text-align: center; padding: 5px 0px; }

.clear-fix { zoom: 1; clear: both; }
.clear-fix:after { content: ''; display: block; clear: both; visibility: hidden; height: 0; }
.error { color: #FF0000; font-weight: bold; }
.success { color: #3ea14f; font-weight: bold; }
.flow_box { background: #FFF; padding: 5px; margin-bottom: 5px; display: block; }
.remark { color: #888; }
.subject { border-left: 10px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; padding: 0px 0px 5px 5px; font-weight: bold; font-size: 16px; margin-bottom: 10px; }

.item_type { font-size: 12px; color: #6b6390; padding-left: 2px !important; }
.attack { color: #f31205; }
.defense { color: #4384ff; }
.magic_defense { color: #66CC66; }
.handle { color: #ffcb21; }
.auction_add { color: #ffcc31; }
.auction_bit { color: #66cc66; }
.auction_win { color: #3163f7; }
.auction_lose{ color: #a43200; }

.form dl { padding-bottom: 10px; }
.form dl dt { float: left; padding-top: 5px; width: 70px; }
.form dl dd { float: left; }
.form dl dd.text { padding-top: 5px; }
.form .row { margin: 10px 0px; }

#wrapper { margin: 0 auto; width: 780px; }

#liner { height: 5px; background: #5C6F8E; }
#header { background: #303f56; }

#navigation { background: #5C6F8E; }
#navigation ul li.head { border-left-width: 0px; }
#navigation ul li { float: left; padding: 10px; border-left: 1px solid #000; font-size: 14px; }

#announcement { background: #1E365C; padding: 5px 10px; }
#announcement ul li { float: left }
#announcement ul li.team_name { width: 20%; }
#announcement ul li.money { width: 60%; text-align: center; }
#announcement ul li.activity_time { width: 20%; text-align: right; }

#content { padding: 20px 10px; background: #303f56; }
#footer { background: #5C6F8E; text-align: center; padding: 10px; }

/* index.html */
.index .left { float: left; width: 50%; }
.index .left h5 { font-weight: bold; margin-top: 20px; font-size: 14px; }
.index .left ul li.head { padding-top: 15px; }
.index .left ul li { padding: 5px 0px 5px 18px; }

.index .right { float: left; width: 48%; margin-left: 10px; }
.index .right dl { padding-bottom: 10px; }
.index .right dl dt { float: left; margin-top: 5px; margin-right: 5px; width: 12%; }
.index .right .rank { margin-top: 20px; }
.index .right .rank ul.caption { font-weight: bold; font-size: 14px; }
.index .right .rank ul li { float: left; padding: 5px 0px; }
.index .right .rank ul li.sort { width: 20%; text-align: left; }
.index .right .rank ul li.team { width: 80%; }

.index .bottom ul li { padding: 5px 0px; }

/* first_login.html */
.first-login dd.job ul { width: 400px; }
.first-login dd.job ul li { float: left; padding: 5px 0px; }
.first-login dd.job ul.job_title li { width: 50%; text-align: center; background: #242F3C; }
.first-login dd.job ul.job_photo li { width: 25%; background: #4A6380; }
.first-login dd.job ul.job_photo li div { width: 200px;  text-align: center; height: 100px; vertical-align: bottom; display: table-cell; }
.first-login dd.job ul.job_gender li { width: 25%; text-align: center; background: #567294; }

/* panel.html */
.panel ul { margin-top: 0px; padding-top: 0px; }
.panel ul li { float: left; width: 25%; height: 88px; background: url(../image/carpet/1.gif) no-repeat bottom center; padding-bottom: 20px; margin: 0px 0 3px 0; }
.panel ul li.even { background: url(../image/carpet/2.gif) no-repeat bottom center; }
.panel ul li div { width: 200px; height: 88px; display: table-cell; text-align: center; vertical-align: bottom; }

/* setting.html */
.setting .color_label { float: left; vertical-align: middle; }
.setting .color_selector div { display: inline-table; width: 30px; height: 30px; background: url(../image/jquery/colorpicker/select.png) center; }

/* town.html */
.town .shop-list .shop { float: left; }
.town .shop-list .shop span { font-weight: bold; text-decoration: underline; font-size: 14px; }
.town .shop-list .shop ul li { margin-left: 15px; margin-top: 10px; margin-bottom: 10px; }
.town .shop-list .shop ul.line li { float: left; border-left: 1px solid #5C6F8E; padding-left: 10px; }
.town .shop-list .shop ul.line li.head { border-left: 0px; padding-left: 0px; }
.town .shop-list .image { float: right; }

/* Town share on (grocery) work.html , buy.html (forging) refine.html */
.town-share .container { margin-bottom: 10px; }
.town-share .container .helper { float: left; width: 100px; text-align: center; }
.town-share .container .detail { float: left; }
.town-share .container .detail h7 { margin: 0px 0px; display: block; font-weight: bold; }
.town-share .container .detail span { margin: 10px 0px; display: block; }
.town-share .container .row { padding: 5px 0px; } 

/* grocery/buy.html */
.grocery-buy .container ul li { float: left; }
.grocery-buy .container ul li.choice { width: 5%; text-align: center; }
.grocery-buy .container ul li.price { width: 10%; }
.grocery-buy .container ul li.type { width: 10%; text-align: center; }
.grocery-buy .container ul li.detail { width: 75%; }
.grocery-buy .container ul.row { background: #2a3a49; padding: 5px 0px; border-top: 1px solid #FFF; }
.grocery-buy .container ul.row li.text { padding-top: 5px; }
.grocery-buy .container ul.row li.detail { vertical-align: top; display: table-cell; height: 30px; }
.grocery-buy .container ul.row li.detail img { float: left; }
.grocery-buy .container ul.row li.detail div { display: table-cell; padding: 5px 0px 0px 10px; }
.grocery-buy .container ul.row li.detail div span { display: inline; }

/* public/recruit.html */
.public-recruit .container { margin-bottom: 10px; }
.public-recruit ul li { float: left; }
.public-recruit ul.caption li { width: 25%; }
.public-recruit ul.look li { width: 25%; background: #4A6380; }
.public-recruit ul.look li div { width: 200px; height: 100px; text-align: center; display: table-cell; vertical-align: bottom; }
.public-recruit ul.price li { width: 25%; text-align: center; background: #567294; padding: 5px 0px; }

/* public/auction.html */
.public-auction .container ul.extra-row { border-top: 1px solid #555; }
.public-auction .container ul li.extra-data { padding-left: 40px; }