<link type="text/css" rel="stylesheet" href="${STATIC_URL}/stylesheet/debug.css" />
<div class="debug clear-fix">
	<!--{foreach:$db->get_debug_log() $key $one}-->
	<div class="row">
		<div class="type">#{$one['query_count']} - {$one['type']} <span class="time">{$one['query_time']}</span></div>
		<div class="sql">
			<!--{if:$config['debug']['format_sql'] === true}-->
				${nl2br(trim($one['sql']))}
			<!--{else}-->
				{$one['sql']}
			<!--{/if}-->
		</div>
		<!--{if:$one['type'] === "select"}-->
			<div class="sql-info">
				<table width="100%">
				<tr>
					<th>Table</th>
					<th>Type</th>
					<th>Possible Keys</th>
					<th>Key</th>
					<th>Key Length</th>
					<th>Ref</th>
					<th>Rows</th>
					<th>Extra</th>
				</tr>
				<!--{foreach:$one['sql_info'] $k $v}-->
				<tr>
					<td>{$v['table']}</td>
					<td>{$v['type']}</td>
					<td>{$v['possible_keys']}</td>
					<td>{$v['key']}</td>
					<td>{$v['key_len']}</td>
					<td>{$v['ref']}</td>
					<td>{$v['rows']}</td>
					<td>{$v['Extra']}</td>
				</tr>
				<!--{/foreach}-->
				</table>
			</div>
		<!--{/if}-->
	</div>
	<!--{/foreach}-->
</div>