<!--{include:header.html}-->
<div class="first-login">
	<!--{include:block_flow_message.html}-->
	<div class="subject">隊伍設定</div>
	<form action="${PHP_SELF}" method="post">
	<input type="hidden" name="action" value="init_team" />
	<div class="form">
		<dl class="clear-fix">
			<dt>隊伍名稱：</dt>
			<dd><input type="text" name="team_name" /></dd>
		</dl>
	</div>
	<div class="subject">隊員設定 (第一個隊員)</div>
	<div class="form">
		<dl class="clear-fix">
			<dt>隊員名稱：</dt>
			<dd><input type="text" name="character_name" /></dd>
		</dl>
		<dl class="clear-fix">
			<dt>隊員職業：</dt>
			<dd class="job">
				<ul class="job_title clear-fix">
					<li>戰士</li>
					<li>法師</li>
				</ul>
				<ul class="job_photo clear-fix">
					<li>
						<div>
							<img src="${STATIC_URL}/image/character/warrior_boy.gif" alt="Warrior Boy" /><br />
							<input type="radio" name="character_job" value="1_1" />
						</div>
					</li>
					<li>
						<div>
							<img src="${STATIC_URL}/image/character/warrior_girl.gif" alt="Warrior Girl" /><br />
							<input type="radio" name="character_job" value="1_2" />
						</div>
					</li>
					<li>
						<div>
							<img src="${STATIC_URL}/image/character/socerer_boy.gif" alt="Socerer Boy" /><br />
							<input type="radio" name="character_job" value="2_1" />
						</div>
					</li>
					<li>
						<div>
							<img src="${STATIC_URL}/image/character/socerer_girl.gif" alt="Socerer Girl" /><br />
							<input type="radio" name="character_job" value="2_2" />
						</div>
					</li>
				</ul>
				<ul class="job_gender clear-fix">
					<li>男性</li>
					<li>女性</li>
					<li>男性</li>
					<li>女性</li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt>&nbsp;</dt>
			<dd>
				<input type="submit" name="commit" value="完成" />
				<input type="button" name="logout" value="登出" id="logout" />
			</dd>
		</dl>
	</div>
	</form>
</div>
<!--{include:footer.html}-->