	</div> <!-- Content -->
	<div id="footer">
		<h7>&copy; SeekStudio 2011, Idea Tekito</h7>
		<!--{if:$config['debug']['show_run_time'] === true}-->
			<!--{if:$config['debug']['run_time_mode'] === 1}--><em class="run-time">({set:echo Benchmark::process_time(START_TIME)})</em><!--{/if}-->
			<!--{if:$config['debug']['run_time_mode'] === 2}-->
				<!--
				({set:echo Benchmark::process_time(START_TIME)})
				-->
			<!--{/if}-->
		<!--{/if}-->
	</div>
</div> <!-- Wrapper -->
<!--{if:$config['debug']['show_sql'] === true}-->
	<!--{include:debug.html}-->
<!--{/if}-->
</body>
</html>