<!--{include:header.html}-->
<div class="index clear-fix">
	<div class="left">
		<img src="${STATIC_URL}/image/preview.png" alt="game preview" />
		
		<h5>這到底是什麼遊戲?</h5>
		<ul>
			<li class="head">遊戲的目的是得到第一,並且保持住第一的位置</li>
			<li>雖然沒有冒險的要素,但有點深奧的戰鬥系統</li>
		</ul>
		
		<h5>戰鬥的感覺是什麼?</h5>
		<ul>
			<li class="head">5人的人物構成隊伍</li>
			<li>各人物各持不同模式,根據戰鬥的狀況來使用技能</li>
			<li><a href="">這邊</a>可以回覽戰鬥記錄</li>
		</ul>
	</div>
	<div class="right">
		<div class="login">
			<div class="subject">登入</div>
			<!--{include:block_flow_message.html}-->
			<form action="${PHP_SELF}" method="post">
			<input type="hidden" name="action" value="login" />
			<dl class="clear-fix">
				<dt>電郵：</dt>
				<dd><input type="text" name="email" id="email" /></dd>
			</dl>
			<dl class="clear-fix">
				<dt>密碼：</dt>
				<dd><input type="password" name="password" id="password" /></dd>
			</dl>
			<dl class="clear-fix">
				<dt>&nbsp;</dt>
				<dd><input type="submit" name="commit" value="登入" /> or <a href="">新玩家?</a></dd>
			</dl>
			</form>
		</div>
		
		<div class="rank">
			<div class="subject">排行榜</div>
			<ul class="caption">
				<li class="sort">排位</li>
				<li class="team">隊伍</li>
			</ul>
			<!--{for:$i=0;$i<10;$i++}-->
			<ul class="record">
				<li class="sort">1</li>
				<li class="team">Test team (N戰 N勝 N敗 N引 N防 勝率N%)</li>
			</ul>
			<!--{/for}-->
		</div>
	</div>
	
	<div class="bottom clear-fix">
		<div class="subject">提示</div>
		<ul>
			<li>用戶數: 0/100</li>
			<li>60日中數據沒變化的話數據將消失</li>
		</ul>
	</div>
</div>
<!--{include:footer.html}-->