<!--{include:header.html}-->
<div class="index panel">
	<ul class="clear-fix">
		{set:$i=0;}
		<!--{foreach:$characters $character}-->
			<!--{if:$i++%2 == 0}-->
				<li><div><img src="${STATIC_URL}/image/character/{$character['image']}" alt="{$character['name']}" /></div></li>
			<!--{else}-->
				<li class="even"><div><img src="${STATIC_URL}/image/character/{$character['image']}" alt="{$character['name']}" /></div></li>
			<!--{/if}-->
		<!--{/foreach}-->
	</ul>
</div>
<!--{include:footer.html}-->