<!--{include:header.html}-->
<div class="register">
	<div class="subject">註冊!</div>
	<div class="form">
		<!--{include:block_flow_message.html}-->
		<form action="${PHP_SELF}" method="post">
		<dl class="clear-fix">
			<dt>電郵地址：</dt>
			<dd><input type="text" name="email" size="40" /></dd>
		</dl>
		<dl class="clear-fix">
			<dt>登記密碼：</dt>
			<dd>
				<input type="password" name="password" />
				<div class="remark">密碼長度需多於 6 個字元</div>
			</dd>
		</dl>
		<dl class="clear-fix">
			<dt>確認密碼：</dt>
			<dd><input type="password" name="confirm_password" /></dd>
		</dl>
		<dl>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="commit" value="註冊" /></dd>
		</dl>
		</form>
	</div>
</div>
<!--{include:footer.html}-->