<!--{include:header.html}-->
<div class="setting">
	<!--{include:block_flow_message.html}-->
	<div class="subject">基本設置</div>
	<div class="form">
		<form action="${PHP_SELF}" method="post">
		<input type="hidden" name="action" value="normal" />
		<input type="hidden" name="say_color" id="say_color" value="{$user['say_color']}" />
		<div class="row">
			<label>記錄戰鬥：</label><select name="save_history">
				<option value="1">是</option>
				<option value="0">否</option>
			</select>
		</div>
		<div class="row">
			<label class="color_label">發言顏色：</label>
			<span class="color_selector"><div></div></span>
		</div>
		<div class="row"><input type="submit" name="commit" value="修改" /></div>
		</form>
	</div>
	
	<div class="subject">隊伍設置</div>
	<div class="form">
		<form action="${PHP_SELF}" method="post">
		<input type="hidden" name="action" value="team" />
		<div class="row">
			<label>費用：</label><span>{$config['money_name']}${Util::money_it($config['rename_team_name_price'])}</span>
		</div>
		<div class="row">
			<label>新的名稱：</label><input type="text" name="team_name" /><input type="submit" name="commit" value="變更" />
		</div>
		</form>
	</div>
	
	<div class="subject">修改密碼</div>
	<div class="form">
		<form action="${PHP_SELF}" method="post">
		<input type="hidden" name="action" value="password" />
		<dl class="clear-fix">
			<dt>舊的密碼：</dt>
			<dd><input type="password" name="old_password" /></dd>
		</dl>
		<dl class="clear-fix">
			<dt>新的密碼：</dt>
			<dd><input type="password" name="new_password" /></dd>
		</dl>
		<dl class="clear-fix">
			<dt>再次輸入：</dt>
			<dd><input type="password" name="confirm_password" /></dd>
		</dl>
		<dl class="clear-fix">
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="commit" value="更改" /></dd>
		</dl>
		</form>
	</div>
	
	<div class="subject">世界盡頭</div>
	<div class="form">
		<form action="${PHP_SELF}" method="post">
		<input type="hidden" name="action" value="kill" />
		<div class="row">
			<label>密碼：</label>
			<input type="password" name="password" />
			<input type="submit" name="commit" value="去意已決..." />
		</div>
		</form>
	</div>
</div>
<!--{include:footer.html}-->