<!--{include:header.html}-->
<div class="town">
	<div class="subject">街道</div>
	<div class="shop-list clear-fix">
		<div class="shop">
			<span>雜貨店</span>
			<ul class="line clear-fix">
				<li class="head"><a href="${SITE_URL}/town/grocery/buy.php">買入</a></li>
				<li><a href="${SITE_URL}/town/grocery/sell.php">賣出</a></li>
				<li><a href="${SITE_URL}/town/grocery/work.php">工作</a></li>
			</ul>
			<span>鍛冶屋</span>
			<ul class="line clear-fix">
				<li class="head"><a href="${SITE_URL}/town/forging/refine.php">精煉工房</a></li>
				<li><a href="${SITE_URL}/town/forging/create.php">製作工房</a></li>
			</ul>
			<span>公用設施</span>
			<ul class="clear-fix">
				<li><a href="${SITE_URL}/town/public/recruit.php">人才斡旋所</a></li>
				<li><a href="${SITE_URL}/town/public/auction.php">拍賣會場</a></li>
				<li>競技場</li>
			</ul>
		</div>
		<div class="image">
			<img src="${STATIC_URL}/image/town.png" alt="Town" />
		</div>
	</div>
	<div class="subject">廣場</div>
	<div class="form">
		<input type="text" name="say" id="say" size="120" />
		<input type="submit" name="commit" value="發言" />
	</div>
</div>
<!--{include:footer.html}-->