{% extends 'layout/frontend.html' %}

{% block container %}
<h3>
	鍛冶屋
	<a href="{{ urlFor('town.index') }}">
		<small>
			<i class="glyphicon glyphicon-home"></i> 街道
		</small>
	</a>
</h3>
<div class="btn-group btn-group-justified">
	<a class="btn btn-default" href="{{ urlFor('forging.refine') }}">
		<span class="glyphicon glyphicon-wrench"></span>&nbsp;精煉工房
	</a>
	<a class="btn btn-default" href="{{ urlFor('forging.create') }}">
		<span class="glyphicon glyphicon-fire"></span>&nbsp;製作工房
	</a>
</div>
{% block container_forging %}{% endblock %}
{% endblock %}
