{% extends 'layout/frontend.html' %}

{% block container %}
<h3>
    雜貨店
    <a href="{{ urlFor('town.index') }}">
        <small>
            <i class="glyphicon glyphicon-home"></i> 街道
        </small>
    </a>
</h3>
<div class="btn-group btn-group-justified">
    <a class="btn btn-default" href="{{ urlFor('grocery.buy') }}">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;買入
    </a>
    <a class="btn btn-default" href="{{ urlFor('grocery.sell') }}">
        <span class="glyphicon glyphicon-minus"></span>&nbsp;賣出
    </a>
    <a class="btn btn-default" href="{{ urlFor('grocery.work') }}">
        <span class="glyphicon glyphicon-stats"></span>&nbsp;工作
    </a>
</div>
{% block container_grocery %}{% endblock %}
{% endblock %}
