body {
    padding-bottom: 50px;
}

.thumb-character {
    min-height: 64px;
    max-height: 64px;
}

.caption-padding {
    margin-top: 20px;
    margin-bottom: 10px;
}

.carpet {
    border-width: 0px;
}

.carpet .carpet-image {
    height: 100px;
}

.carpet .carpet-image img.warrior, img.socerer, img.pastor {
    position: relative;
    top: 5px;
}

.carpet .carpet-image img.hunter {
    position: relative;
    bottom: 10px;
}

.carpet .carpet-odd {
    background: url(../img/carpet/1.gif) no-repeat bottom center;
}

.carpet .carpet-even {
    background: url(../img/carpet/2.gif) no-repeat bottom center;
}

.carpet .carpet-caption {
    padding: 0px;
}

.panel-job-list {
    text-align: center;
    min-height: 120px;
    position: relative;
}

.align-center {
    text-align: center;
}
