<?php
return array(
	'default' => array(
		'debug' => true,
	),

	'database' => array(
		'driver'   => 'sqlite',
		'host'     => './data/default.sqlite',
		'username' => '',
		'password' => '',
		'dbname'   => ''
	),

	'cookie' => array(
		'secret_key' => 'Your Key Here',
		'life_time'  => 14*24*3600 // 2 weeks = 1209600 seconds
	),

	'game' => array(
		'start_money' => 50000,
		'start_time'  => 5000,
	)
);
